<footer class="footer">
    <div class="footer-background"></div>
    <div class="footer-content">
      <div class="footer-contact">
        <div class="contact-background">
          <span class="contact-text">Contact Us</span>
        </div>
      </div>
      <div class="footer-text">
        <div class="footer-heading">
          Let's take a step towards<br>an innovation in agriculture
        </div>
        <div class="footer-subheading">
          Vertical Farms: Sustainable & Efficient Method
        </div>
      </div>
    </div>
  </footer>
  